*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	margin:10px 0px;
}
body{
	    line-height: 1.5;
	}


#header{
	position:relative;
	width:100%;
	height:102px;
	top:5px;
	.w3c-bar1{
		position:absolute;
		width:100%;
		height:56px;
		top:-10px;
		padding:0px -3px;
		
		.left{
			width:49%;
			height:37px;
			float:left;
			padding-left:10px;
			padding-top:5px;
			a{
				font-size:40px;
			}
		}
		.right{
			width:49%;
			height:23px;
			float:right;
			text-align:right;
			padding-right:10px;
			padding-top:30px;
			letter-spacing:4px;
		}
	}
	
	.w3c-bar2{
		position:absolute;
		width:100%;
		height:46px;
		top:56px;
		background-color:#4CAF50;
		.left{
			width:500px;
			height:100%;
			float:left;
			a{
				display:inline-block;
				font-size:17px;
				padding:15px;
				color:white;
			}
			a:hover{
				background-color:white;
				color:black;
			}
		}
		.right{
			width:auto;
			height:100%;
			float:right;
			text-align:right;
			a{
				padding:20px 10px 20px 10px;
				img{
					margin-top:12px;
				}
			}
			a:hover{
				background-color:white;
				color:#4CAF50;
			}
		}
	}
	.text_spacing{
		letter-spacing:2px;
	}
}
#navbar{
	position:relative;
	width:230px;
	height:100%;
	top:0px;
	float:left;
	.list{
		width:100%;
		.w3-container{
			width:100%;
			height:30px;	
			font-size:20px;
			padding:16px 16px;
		}
		.item{
			padding:0px 16px;
			font-size:16px;
			line-height:20px;
			}
		a{
			text-align:left;
			display:block;
			color:black;
		}
		
		a:hover{
			background-color:#ccc;
		}
	}
	
}

.box-shadow{
	box-shadow: 1px 1px 5px #888888;
}
#main{
	position:relative;
	top:0px;
	height:100%;
	margin-left:230px;
	box-shadow: -1px 5px 5px #f1f1f1;
	.w3-button{
				padding:2%;
				margin-left:1%;
				color:white;
				background-color:#4CAF50;	
			}
	.w3-hide-small{
		width:83%;
		height:384px;
		background-color:#f1f1f1;
		padding:1%;
	}
	.w3c-code-col{
		width:90%;
		height:255px;
		border-left:2px #4CAF50 solid;
		padding:2%;
		margin:1%;
		margin-bottom:5%;
		background-color:white;	
	}
	.w3-dark-grey{
		background-color:#616161;
	}
	.w3-dark-grey:hover{
				color:black;
				background-color:#ccc;
	}
	h1{
			font-size:80px;
		}
		
	.w3c-row1{
		width:100%;
		height:494px;
		.left{
			width:49.99%;
			height:250px;
			text-align:center;
			float:left;
			padding-top:70px;
			p{
				margin:20px 0px;
				font-size:30px;
				
			}
		}
		.right{
				width:49.99%;
				height:418px;
				float:left;
				padding-top:50px;		
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
	}
	
	.w3c-row2{
		width:100%;
		height:485px;
		background-color:#f1f1f1;
		.left{
			width:49%;
			height:485px;
			padding:30px 0px 0px 30px;
			float:left;
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
		.right{
			width:45%;
			height:270px;
			float:left;
			text-align:center;
			margin-top:40px;
			p{
				font-size:24px;
				padding-bottom:40px;
			}
		}	
	}
	
	.w3c-row3{
		width:100%;
		height:494px;
		.left{
			/*width:567px;*/
			width:49%;
			height:300px;
			text-align:center;
			float:left;
			margin-left:0%;
			padding-top:0%;
			p{
				margin:20px;
				font-size:30px;
				
			}
		}
		.right{
				/*width:567px;*/
				width:49%;
				height:400px;
				float:left;
				padding:10px 0px;
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
	
	}
	
	.w3c-row4{
		width:100%;
		height:338px;
		background-color:#f1f1f1;
		.white{
			/*width:334px;*/
			width:30%;
			height:230px;
			margin:2% 1%;
			float:left;
			text-align:center;
			background-color:white;
			padding:2% 0.5%;
			h2{
				font-size:36px;
			}
			h4{
				padding:0px 0px 15px 0px;
			}
		}
	}
	
	.w3c-row5{
		width:100%;
		height:294px;
		.center{
			width:33.33333%;
			height:100%;
			text-align:center;
			float:left;
			
			h2{
				font-size:36px;
			}
			h3{
				padding:20px 50px;
			}
			img{
				width:35%;
			}
			img:hover{
				 opacity:0.5;
			}
		}
	}
	.w3c-row6{
		width:100%;
		height:580px;
		background-color:#f1f1f1;
		text-align:center;
		padding:2% 0%;
		h2{
			font-size:36px;
		}
		h4{
			font-size:20px;
		}
		.img-margin{
			margin:20px;
			img{
				width:80%;
			}
		}
		.w3-button{
			padding:1%;
		}
	}
	
	.w3c-row7{
		width:100%;
		height:534px;
		text-align:center;
		h2{
			font-size:36px;
		}
		h4{
			font-size:20px;
		}
		.center{
			width:74%;
			height:305px;
			padding:2% 13%;
			.widows{
				width:45%;
				height:290px;
				border:5px #818181 solid;
				float:left;
				margin-left:2%;
				.main{
					width:75%;
					height:100%;
					float:left;
					overflow:scroll;
					overflow-x:hidden;
					text-align:left;
					h2{
						margin:10px;
					}
					p{
						margin:10px;
					}
				}
				.list1{
					width:25%;
					height:100%;
					background-color:black;
					float:left;
					a{
					color:#818181;
					}
					a:hover{
						color:white;
					}
				}
				.list2{
					width:25%;
					height:100%;
					float:left;
					.background{
						width:70%;
						height:131px;
						background-color:#eee;
						margin:20px;
						padding-left:10px;
						.padding{
							width:80%;
							height:35px;						
							float:left;
							a{
								color:#2196F3;
							}
							a:hover{
								color:black;
							}
						}
					}
				}
			}
		}
	}
	
	.w3c-row8{
		position:relative;
		width:100%;
		height:537px;
		background-color:black;
		img{
			 max-width:100%;
			 margin:auto;
			 display:block;
			 margin-top:-24px;
		}
		.certoverlay{
			position:absolute;
			width:100%;
			height:130px;
			top:0px;
			background-color:rgba(0,0,0,0.5);
			text-align:center;
			color:white;
			h2{
				font-size:36px;
			}
			h3{
				font-size:20px;
			}
		}
		.middle{
			position:absolute;
			width:20%;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			a.w3-button{
				padding:10%;
			}
			a:hover{
				color:black;
				background-color:white;
			}
		}
	}
	
	.w3c-row9{
		position:relative;
		width:100%;
		height:275px;
		background-color:#616161;
		.container{
			position:absolute;
			width:95%;
			height:10px;
			padding:1%;
			margin:1%;
			.left{
				float:left;
				a{
					border:1px black solid;
					color:black;
					background-color:#f1f1f1;
					padding:10px;
				}
				a:hover{
					background-color:#999999;
				}
			}
			.right{
				float:right;
				a{
					color:white;
				}
				a:hover{
					color:#4CAF50;
				}
			}
		}
		p{	
			position:absolute;
			top:80px;
			color:white;
			width:95%;
			text-align:center;
			margin:10px;
			float:clear;
		}
		.center{
			
			top:190px;
		}
	}
}

@media screen and(max-width:992px){
		#header{
			height:150px;

			.w3c-bar1{	
					width:97%;
					height:100px;
					.left{
						width:100%;
						text-align:center;
					}
					.right{
						width:100%;
						text-align:center;
					}
				}
			.w3c-bar2{
				top:104px;
			}
		}
		#main{
			.w3c-code-col{
				margin-bottom:30px;
			}
		  .w3c-row1{
				height:850px;
				.left{
					width:100%;
					float:left;
				}
				.right{
					width:94%;
					float:left;
					.w3-hide-small{
						width:100%;
						margin:3%;
					
					}
				}
		  }
		  .w3c-row2{
				height:800px;
				.left{
					width:89%;
					margin-top:320px;
					margin-left:5%;
					.w3c-code-col{
						width:85%;
						margin-bottom:50px;
					}
				}
				.right{
					width:100%;
					margin-top:-800px;
				}
		  }
		  .w3c-row3{
				height:800px;
				.left{
					width:100%;

				}
				.right{
					width:94%;
					.w3-hide-small{
						width:100%;
						margin:3%;
					}
				}
		  }
		  .w3c-row4{
			  height:914px;
			  .white{
				  width:94%;
				  margin:3%;
			  }
		  }
		   .w3c-row5{
			  height:680px;
			.center{
				width:100%;
				height:200px;
				clear:left;
				margin-top:10px;
				img{
					width:20%;
					margin-top:-10px;
				}
			}
		  }
			.w3c-row7{
				.widows.width{
					width:100%;
				}
				.disappear{
						display:none;
					}
			}
			.w3c-row9{
				height:300px;
				.center{
					margin-top:50px;
				}
			}
		}
		
}
@media screen and(max-width:768px){
		#navbar{
			display:none;
		}
		#main{
			width:100%;
			margin-left:0px;
		}
}
@media screen and(max-width:600px){
	#header{
			.w3c-bar1{
				height:56px;
				.right{
					display:none;
				}
			}
			.w3c-bar2{
				top:56px;
				.left{
					display:none;
				}
			}
	}
}
