*{
	padding:0px;
	margin:0px;
}
a{
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	margin:10px 0px;
}
body{
	    line-height: 1.5;
	}
@media screen and(max-width:992px){
		#header{
			max-height:150px;
			.w3c-bar1{	
					max-height:70px;
				.center{	
						text-align:center;
					}
				}			
		}	
		
}	


#header{
	position:relative;
	width:100%;
	height:102px;
	top:5px;
	.w3c-bar1{
		position:absolute;
		width:100%;
		height:56px;
		top:-10px;
		padding:0px -3px;
		
		.left{
			width:49%;
			height:37px;
			float:left;
			padding-left:10px;
			padding-top:5px;
			a{
				font-size:40px;
			}
		}
		.right{
			width:49%;
			height:23px;
			float:right;
			text-align:right;
			padding-right:10px;
			padding-top:30px;
			letter-spacing:4px;
		}
	}
	
	.w3c-bar2{
		position:absolute;
		width:100%;
		height:46px;
		top:56px;
		background-color:#4CAF50;
		.left{
			width:500px;
			height:100%;
			float:left;
			a{
				display:inline-block;
				font-size:17px;
				padding:15px;
				color:white;
			}
			a:hover{
				background-color:white;
				color:black;
			}
		}
		.right{
			width:300px;
			height:100%;
			float:right;
			text-align:right;
			a{
				padding:20px 10px 20px 10px;
				img{
					margin-top:12px;
				}
			}
			a:hover{
				background-color:white;
				color:#4CAF50;
			}
		}
	}
	.text_spacing{
		letter-spacing:2px;
	}
}
#navbar{
	position:relative;
	width:15%;
	height:100%;
	top:0px;
	float:left;
	.list{
		width:100%;
		.w3-container{
			width:100%;
			height:30px;	
			font-size:20px;
			padding:16px 16px;
		}
		.item{
			padding:0px 16px;
			font-size:16px;
			line-height:20px;
			}
		a{
			text-align:left;
			display:block;
			color:black;
		}
		
		a:hover{
			background-color:#ccc;
		}
	}
	
}

.box-shadow{
	box-shadow: 1px 1px 5px #888888;
}
#main{
	position:relative;
	top:0px;
	width:84.91%;
	height:100%;
	float:left;
	box-shadow: -1px 5px 5px #f1f1f1;
	.w3-button{
				padding:8px 16px;
				margin:5px;
				color:white;
				background-color:#4CAF50;	
			}
	.w3-hide-small{
		width:535px;
		height:384px;
		background-color:#f1f1f1;
		padding:16px;
	}
	.w3c-code-col{
		width:507px;
		height:270px;
		border-left:2px #4CAF50 solid;
		padding:8px 12px;
		margin:16px 0px;
		background-color:white;	
	}
	.w3-dark-grey{
		background-color:#616161;
	}
	.w3-dark-grey:hover{
				color:black;
				background-color:#ccc;
	}
	h1{
			font-size:80px;
		}
		
	.w3c-row1{
		width:100%;
		height:494px;
		.left{
			width:49.99%;
			height:236px;
			text-align:center;
			float:left;
			padding-top:70px;
			p{
				margin:20px;
				font-size:30px;
				
			}
		}
		.right{
				width:49.99%;
				height:418px;
				float:left;
				padding-top:50px;		
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
	}
	
	.w3c-row2{
		width:100%;
		height:485px;
		background-color:#f1f1f1;
		.left{
			width:45%;
			height:485px;
			padding:30px 0px 0px 30px;
			float:left;
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
		.right{
			width:561px;
			height:236px;
			float:left;
			text-align:center;
			margin:40px;
			p{
				font-size:24px;
				padding:25px 0px;
			}
		}	
	}
	
	.w3c-row3{
		width:100%;
		height:494px;
		.left{
			width:567px;
			height:300px;
			text-align:center;
			float:left;
			margin-left:-590px;
			padding-top:70px;
			p{
				margin:20px;
				font-size:30px;
				
			}
		}
		.right{
				width:567px;
				height:392px;
				float:left;
				padding:50px;
				a:hover{
					box-shadow: 1px 1px 5px #888888;
				}
		}
	
	}
	
	.w3c-row4{
		width:100%;
		height:338px;
		background-color:#f1f1f1;
		.white{
			width:334px;
			height:230px;
			margin:38px;
			float:left;
			text-align:center;
			background-color:white;
			padding:25px 5px;
			h2{
				font-size:36px;
			}
			h4{
				padding:0px 0px 15px 0px;
			}
		}
	}
	
	.w3c-row5{
		width:100%;
		height:294px;
		.center{
			width:32%;
			height:192px;
			text-align:center;
			float:left;
			h2{
				font-size:36px;
			}
			h3{
				padding:20px 50px;
			}
			img:hover{
				 opacity:0.5;
			}
		}
	}
	.w3c-row6{
		width:100%;
		height:600px;
		background-color:#f1f1f1;
		text-align:center;
		padding:20px 0px;
		h2{
			font-size:36px;
		}
		h4{
			font-size:20px;
		}
		.img-margin{
			margin:20px;
			img{
				width:980px;
				height:376px;
			}
		}
	}
	
	.w3c-row7{
		width:100%;
		height:534px;
		text-align:center;
		h2{
			font-size:36px;
		}
		h4{
			font-size:20px;
		}
		.center{
			width:1000px;
			height:305px;
			margin:50px auto;
			.widows{
				width:440px;
				height:290px;
				border:6px #818181 solid;
				float:left;
				margin:0px 10px;
				.main{
					width:75%;
					height:100%;
					float:left;
					overflow:scroll;
					overflow-x:hidden;
					text-align:left;
					h2{
						margin:10px;
					}
					p{
						margin:10px;
					}
				}
				.list1{
					width:25%;
					height:100%;
					background-color:black;
					float:left;
					a{
					color:#818181;
					}
					a:hover{
						color:white;
					}
				}
				.list2{
					width:25%;
					height:100%;
					float:left;
					.background{
						width:80px;
						height:131px;
						background-color:#eee;
						margin:20px;
						padding-left:10px;
						.padding{
							width:80%;
							height:35px;						
							float:left;
							a{
								color:#2196F3;
							}
							a:hover{
								color:black;
							}
						}
					}
				}
			}
		}
	}
	
	.w3c-row8{
		position:relative;
		width:100%;
		height:537px;
		background-color:black;
		.certoverlay{
			position:absolute;
			width:100%;
			height:132px;
			top:0px;
			background-color:rgba(0,0,0,0.1);
			text-align:center;
			color:white;
			h2{
				font-size:36px;
			}
			h3{
				font-size:20px;
			}
		}
		.middle{
			position:absolute;
			top:50%;
			left:50%;
			transform:translate(-50%,-50%);
			a.w3-button{
				padding:15px 30px;
			}
			a:hover{
				color:black;
				background-color:white;
			}
		}
	}
	
	.w3c-row9{
		position:relative;
		width:100%;
		height:275px;
		background-color:#616161;
		.container{
			position:absolute;
			width:95%;
			height:10px;
			padding:20px;
			margin:10px;
			.left{
				float:left;
				a{
					border:1px black solid;
					color:black;
					background-color:#f1f1f1;
					padding:10px;
				}
				a:hover{
					background-color:#999999;
				}
			}
			.right{
				float:right;
				a{
					color:white;
				}
				a:hover{
					color:#4CAF50;
				}
			}
		}
		p{	
			position:absolute;
			top:80px;
			color:white;
			width:95%;
			text-align:center;
			margin:10px;
			float:clear;
		}
		.center{
			top:190px;
		}
	}
}